body {
    background-image: url('images/clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    justify-content: center;
    height: 179px;
}


h1 {
    display: inline;
    text-align: center;
    font-size: 80px;
    background-image:linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

.grid {
    border-color: rgb(38, 0, 253);
    border-style: solid;
    border-width: 12px;
    border-radius: 5px;
    min-height: 200px;
    max-height: 80vh;
    margin: auto;
    display: flex;
    aspect-ratio: 1 / 1;
}
.grid-vertical-item{
    display: flex;
    flex-direction: column;
    flex: 1;

}
.grid-horizontal-item{
    border-width: 2px;
    flex: 1; /* Shrink pixels to board size*/
    background-color: white;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 15px;
}

button {
    font-weight: bold;
    color: white;
    width: 150px;
    height: 50px;
    background-color: rgb(0, 140, 255);
    border-radius: 3mm;
}

.change-color-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    visibility: hidden; /* Menu is hidden by default*/
    transform:translateY(-160px);
    width: 250px;
    height: 147px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    background-color: rgb(0, 140, 255);
    border-style: solid;
    border-radius: 3mm;
}

.color-menu > li{
    list-style: none;
    cursor: pointer;
}
.color-menu > li:hover{
    border: solid black 1mm;
}

.change-density {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.density-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

input {
    width: 50px;
    height: 35px;
    padding-left:15px;
    background-color: cyan;
    text-align: center;
    font-size: 22px;
    border-radius: 3mm;
}




