body {
    background-image: url('/images/clouds.jpg');
    background-size: cover;
}

.title {
    display: flex;
    justify-content: center;
    height: 179px;
}


h1 {
    display: inline;
    text-align: center;
    font-size: 80px;
    background-image:linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

.grid {
    border-color: rgb(38, 0, 253);
    border-style: solid;
    border-width: 12px;
    border-radius: 5px;
    margin: 0px 40px 0px 40px;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 15px;
}

button {
    font-weight: bold;
    color: white;
    width: 150px;
    height: 50px;
    background-color: rgb(0, 140, 255);
    border-radius: 3mm;
}

.change-color-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-color-div>.color-menu , .density-menu {
    transform:translateY(-160px);
    display: none;
    width: 250px;
    height: 147px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    background-color: rgb(0, 140, 255);
    border-style: solid;
    border-radius: 3mm;
}

.color-menu>li{
    list-style: none;
    cursor: pointer;
}

.change-density-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.density-menu {
    display: flex;
    visibility: hidden;/*beacuse of input elements display:flex doesnt work when page refreshed*/
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

input {
    width: 50px;
    height: 25px;
    background-color: cyan;
    text-align: center;
}




